* {
  box-sizing: border-box;
}


html {
  background: #0025FF;
  color: black;
  width: 100%;
}

header {
  padding: 20px;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
}

.logo img {
  width: 140px;
  margin-top: 55px;
}

.logo-placement {
  text-align: center;
}

.cards {
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px;
  font-family: serif;
  font-size: 1.5em;
}

.card {
  background:white;
  padding:10px;
}

.yearbook {
  padding: 0px;
  margin: 0;
  background: green;
}

.image img {
  width: 300px;
  padding: 10px
}

.image {
  padding: 0px;
  margin: 0px;
  height: 300px;
  overflow: hidden;
}
