* {
  box-sizing: border-box;
}


html {
  background: #0025FF;
  color: #fff;
  width: 100%;
}

header {
  padding: 20px;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
}

.logo img {
  width: 140px;
  margin-top: 55px;
}

.logo-placement {
  text-align: center;
}

.image img {
  width: 25%;
}

.image {
  padding: 20px;
  color: black;
  background: white;
}

.yearbook {
  padding: 30px;
  margin: 0;
  background: green;

}
